/* -----------GENERAL---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #425B76;
}
.small {
  font-size: 12px;
}
h1 {
  font-size: 48px;
  margin-top: 30px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
font-size: 16px;
}
h1 , h2, h3 , h4 {
  margin: 30px 0;
}
p {
  line-height: 1.8;
  margin-bottom:  30px;
}
.container-85 {
  width: 85%;
  height: 100%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 6px;
  padding: 15px;
  background-color: white;
}
.container-80 {
  width: 80%;
  height: 100%;
  margin: auto;
}
.container-60 {
  width: 60%;
  height: 100%;
  margin: auto;
}
.container-50 {
  width: 50%;
  height: 100%;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.list-inline {
  height: 100%;
  list-style: none;
}
.list-inline li {
  height: 100%;
  line-height: 79px;
  display: inline-block;
  padding: 0 8px;
}
a {
  text-decoration: none;
  color: #425B76;
}
a:hover {
  text-decoration: underline;
  color: #13ABC2;
}
i {
  padding: 5px;
}
/*---------- /GENERAL ----------*/

/* __________BUTTON__________ */
.button {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  background-color: #fd7a5b;
  color: white;
  line-height: 16px;
}
.button-white {
  display: inline-block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #fd7a5b;
  background-color: white;
  color: #fd7a5b;
  line-height: 16px;
}
.button-big {
  display: inline-block;
  padding: 20px;
  border-radius: 4px;
  background-color: #fd7a5b;
  color: white;
  line-height: 16px;
}
.button:hover , .button-big:hover {
  background-color: rgba(255, 188, 172, 0.8);
  text-decoration: none;
  color: white;
}
.button-white:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: orange;
}
/* __________/BUTTON__________ */

/* ----------HEADER ----------*/
/* top */
.header-top {
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #F5F8FA;
  border-bottom: 1px solid black;
}
.header-top-left {
  height: 100%;
  float: left;
}
.header-top-left .list-inline li:first-child {
  padding-left: 0;
}
#search-font {
  color: #13ABC2;
}
.header-top-right {
  height: 100%;
  float: right;
}
.header-top-right .list-inline li:last-child {
  padding-right: 0;
}
/* /top */
/* navbar */
.navbar {
  height: 80px;
  margin-top: 80px;
  background-color: #FFFFFF;
}
.nav-left {
  height: 100%;
  float: left;
  line-height: 80px;
}
.nav-right {
  height: 100%;
  float: right;
}
.nav-right .list-inline li:last-child {
  padding-right: 0;
}
#logo {
  width: 100px;
  vertical-align: middle;
}
/* /navbar */
/* bottom */
.header-bottom {
  height: 656px;
  position: relative;
  padding-top: 60px;
}
.header-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header-bottom img {
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
}
.over-img {
  position: absolute;
  top: 0;
  z-index: 1;
}
.header-bottom .button-big {
  margin-bottom: 28px;
}
/* /bottom */
/*---------- /HEADER ----------*/

/*---------- MAIN---------- */
/* top */
.main-top {
  background-color: #e3edf4;
}
.main-top .button-big {
  margin: 30px;
}
.main-top h4 {
  text-transform: uppercase;
}
.section-two {
  border-radius: 6px;
  background-color: white;
}
.section-one {
  text-align: center;
  width: 85%;
  margin: auto;
  margin-top: 25px;
  padding: 30px;
}
.section-two {
  margin: 25px auto;
}
.section-one img {
  display: inline-block;
  width: 200px;
}
.section-two img {
  margin: 30px 0;;
}
.section-two a {
  display: inline-block;
}
.two-left {
  text-align: center;
  float: left;
  width: 25%
}
.two-right{
  float: right;
  width: 65%;
}
.two-right  li{
  padding: 0;
  height: 100%;
  display: inline-block;
}
.section-three , .section-four , .section-five {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 5px;
}
.section-three ul, .section-four  ul, .section-five ul {
  text-align: left;
  list-style: none;
}
.section-two img , .section-three .top img , .section-four .top img , .section-five .top img {
  height: 100px;
  display: inline-block;
}
.fa-check-circle {
  color: #fd7a5b;
}
/* /top */
/* middle */
.main-middle {
  background-image: linear-gradient(45deg,#00a4bd,#0ed682);
  color: white;
  text-align: center;
  padding: 60px;
}
.main-middle-bottom h2 {
  font-weight: bold;
  margin-bottom: 0;
}
.square-one , .square-two , .square-three , .square-four , .square-five , .square-six , .square-seven , .square-eight {
  width: 25%;
  padding: 15px;
  float: left;
  border: 1px solid white;
  text-align: center;
}
.square-one , .square-two , .square-three , .square-four {
  border-top: none;
}
.square-five , .square-six , .square-seven , .square-eight {
  border-bottom: none;
}
.square-one , .square-five {
  border-left: none;
}
.square-four , .square-eight {
  border-right: none;
}
/* /middle */
/* bottom */
.main-bottom-top-left  {
  float: left;
  width: 26%;
}
.main-bottom-top-right {
  float: right;
  width: 50%;
  padding-top: 30px;
}
.main-bottom-bottom-left {
  float: left;
  width: 50%;
}
.main-bottom-bottom-left .button-big {
  margin-bottom: 30px;
}
.main-bottom-bottom-right {
  float: right;
  width: 50%;
}
.companies-logo {
  float: left;
  width: 20%;
  margin:5px;
  vertical-align: middle;
}
.companies-logo > img {
  height: 100%;
  width: 100%;
}
.main-bottom-bottom-right {
    padding-left: 96px;
}
.main-bottom-bottom-right img {
  width: 280px;
}
/*/ bottom */
/* ----------/MAIN ---------- */

/* ----------FOOTER-----------  */
footer {
  background-color: #2D3E50;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
  color: #13ABC2;
}
/* top */
.footer-top {
  width: 100%;
  padding-top: 25px;
}
.footer-top   li {
  list-style: none;
  padding: 10px;
}
.footer-top li:first-child {
  font-weight: bold;:
}
.column-one , .column-two , .column-three , .column-four {
  width: 25%;
  float: left;
}
.column-four .button-white {
  border: none ;
  color: #425B76;
}
.social-media {
  width: 100%;
  padding: 10px;
}
.social-media-logo {
  float: left;
  width: 20%
}
/* /top */
/* middle */
.footer-middle {
  margin: 10px 0;
  border-bottom: 1px solid white;
  text-align: center;
}
/* /middle */
/* bottom */
.footer-bottom {
  height: 80px;
  width: 100%;
}
.footer-bottom-left {
  height: 80px;;
  width: 50%;
  float: left;
}
#logo-footer {
  height: 100%;
  width: 100px;
  vertical-align: middle;
}
.footer-bottom-right {
  width: 50%;
  float: right;
  text-align: right;
}
/* /bottom */
/* ----------/FOOTER ---------- */
